@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation-bar {
  padding: 20px 16px;
}

.navigation-bar-menu {
  @apply flex justify-between items-center;
}

.navigation-bar-submenu {
  @apply flex items-center gap-4 relative;
}

.navigation-menu {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 2px;
  border: 0;
  height: 55px;
}

.navigation-menu > li {
  cursor: default;
  padding: 0;
  display: list-item;
  box-sizing: border-box;
  border-bottom: 4px solid rgb(var(--background));
}

.navigation-menu > li:hover {
  border-bottom: 4px solid var(--brand-green);
}

.navigation-menu > li a {
  text-decoration: none;
  display: inline-block;
}

.menuitem {
  font-weight: 700;
}

.menuitem .title {
  padding: 14px 16px;
}

.menuitem:hover .dropdown-panel {
  display: flex;
}

.dropdown-panel {
  display: none;
  position: absolute;
  top: 0;
  border-top: 1px solid var(--brand-green);
  background-color: rgb(var(--background));
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 55px;
}

.dropdown-panel-column {
  padding: 40px 30px;
  width: 280px;
  @apply flex flex-col gap-0;
}

.column-title {
  font-size: 13px;
  font-weight: normal;
  min-height: 30px;
}

.submenu-item {
  margin-left: -6px;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.submenu-item.brighten:hover {
  box-shadow: inset 0 0 0 10em var(--background-lighten);
}

.submenu-item.darken:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
}

.submenu-cell {
  width: 34px;
  min-width: 34px;
}

.submenu-cell img {
  width: 34px;
  min-width: 34px;
}

.submenu-title {
  line-height: 1;
}
.submenu-title:hover {
  color: var(--brand-green);
}

.submenu-subtext {
  font-size: 11pt;
  line-height: 1;
  font-weight: normal;
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  .navigation-bar-menu {
    @apply flex-col;
  }
  .navigation-bar-submenu {
    @apply flex-col;
  }
  .navigation-menu {
    @apply flex-col;
    height: inherit;
  }
}
