.linkbutton {
  font-weight: 600;
}

.linkbutton img {
  width: 6px;
  height: 10px;
}

.linkbutton:hover {
  color: var(--brand-white);
}

.buttonBrandGreen {
  color: var(--brand-green);
}

.buttonBrandBlue {
  color: var(--brand-blue);
}

.buttonBrandHuntressBlue {
  color: var(--brand-cyan);
}
