@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 35 36;
    --foreground: 245 248 250;
    --background-lighten: rgba(112, 112, 112, 0.1);
    --brand-green: theme('colors.primary.DEFAULT');
    --brand-blue: theme('colors.secondary.DEFAULT');
    --brand-cyan: theme('colors.huntressblue.DEFAULT');
    --brand-black: theme('colors.background');
    --brand-white: theme('colors.foreground');
    --success: hsl(var(--nextui-success));
    --warning: hsl(var(--nextui-warning));
    --danger: hsl(var(--nextui-danger));
    /* --border-gray: 112, 112, 112, 72; */
    --border-gray: "#7070704d";
    --border-radius: 5px;
    --border-small: var(--nextui-border-width-small) solid var(--border-gray);
    --border-medium: var(--nextui-border-width-medium) solid var(--border-gray);
    --border-large: var(--nextui-border-width-large) solid var(--border-gray);
    --container-1: 640px;
    --container-2: 768px;
    --container-3: 1024px;
    --container-4: 1280px;
    --container-5: 1536px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Hknova Webfont", "Kanit";
  max-width: 100vw;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

li {
  padding-left: 9px;
}

li::marker {
  color: theme('colors.primary.DEFAULT');
  /* font-size: 24px;
  line-height: 0.1; */
}

ul {
  list-style-type: disc;
  padding-left: 35px;
}

li + ul {
  padding-left: 20px;
}

ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

input {
  height: 50px;
  background-color: #333436;
  padding: 4px 20px 8px;
  border-radius: 3px;
}

h1 {
  letter-spacing: .45px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Visuelt Webfont,sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Visuelt Webfont,sans-serif;
  font-size: 39px;
  font-weight: 700;
  line-height: 49px
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Visuelt Webfont,sans-serif;
  font-size: 31px;
  font-weight: 700;
  line-height: 35px
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Visuelt Webfont,sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Visuelt Webfont,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px
}

a:active,a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

/* h1 {
  margin: .67em 0;
  font-size: 2em
} */

mark {
  color: #000;
  background: #ff0
}

small {
  font-size: 80%
}

sub,sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}
